<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="SpaceKey" value="PJ1"/>
    <add key="SpaceName" value="Project 1"/>
    <add key="SpaceDescription" value="This is the Project 1 Description"/>
    <add key="CreateSpaceUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/space" />
    <add key="CreatePageUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content/"/>
    <add key="username" value="vd2"/>
    <add key="password" value="Welcome1"/>
  </appSettings>
</configuration>