<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="loggingConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.LoggingSettings, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
    <section name="dataConfiguration" type="Microsoft.Practices.EnterpriseLibrary.Data.Configuration.DatabaseSettings, Microsoft.Practices.EnterpriseLibrary.Data, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" />
  </configSections>
  <loggingConfiguration name="Logging Application Block" tracingEnabled="true"
    defaultCategory="General" logWarningsWhenNoCategoriesMatch="true">
    <listeners>
      <add fileName="trace.log" header="----------------------------------------"
        footer="----------------------------------------" formatter="Text Formatter"
        listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FlatFileTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FlatFileTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="FlatFile TraceListener" />
      <add source="Enterprise Library Logging" formatter="Text Formatter"
        log="Application" machineName="" listenerDataType="Microsoft.Practices.EnterpriseLibrary.Logging.Configuration.FormattedEventLogTraceListenerData, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        traceOutputOptions="None" filter="All" type="Microsoft.Practices.EnterpriseLibrary.Logging.TraceListeners.FormattedEventLogTraceListener, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Formatted EventLog TraceListener" />
    </listeners>
    <formatters>
      <add template="Timestamp: {timestamp}&#xD;&#xA;Message: {message}&#xD;&#xA;Category: {category}&#xD;&#xA;Priority: {priority}&#xD;&#xA;EventId: {eventid}&#xD;&#xA;Severity: {severity}&#xD;&#xA;Title:{title}&#xD;&#xA;Machine: {machine}&#xD;&#xA;Application Domain: {appDomain}&#xD;&#xA;Process Id: {processId}&#xD;&#xA;Process Name: {processName}&#xD;&#xA;Win32 Thread Id: {win32ThreadId}&#xD;&#xA;Thread Name: {threadName}&#xD;&#xA;Extended Properties: {dictionary({key} - {value}&#xD;&#xA;)}"
        type="Microsoft.Practices.EnterpriseLibrary.Logging.Formatters.TextFormatter, Microsoft.Practices.EnterpriseLibrary.Logging, Version=4.1.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35"
        name="Text Formatter" />
    </formatters>
    <categorySources>
      <add switchValue="All" name="General">
        <listeners>
          <add name="FlatFile TraceListener" />
        </listeners>
      </add>
    </categorySources>
    <specialSources>
      <allEvents switchValue="All" name="All Events" />
      <notProcessed switchValue="All" name="Unprocessed Category" />
      <errors switchValue="All" name="Logging Errors &amp; Warnings">
        <listeners>
          <add name="Formatted EventLog TraceListener" />
        </listeners>
      </errors>
    </specialSources>
  </loggingConfiguration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
  </startup>
  <appSettings>
    <add key="SpaceKey" value="PJ1" />
    <add key="SpaceName" value="Project 1" />
    <add key="SpaceDescription" value="This is the Project 1 Description" />
    <!-- PROD 
    <add key="CreateSpaceUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/space" />
    <add key="CreatePageUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content/" />
    <add key="GetPageByTitleAndKeyUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content?title={0}&amp;spaceKey={1}&amp;expand=body.storage,version" />
    <add key="UpdatePageUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content/{0}"/>
    <add key="GetChildPagesUrl" value="http://lpconfluence01.asiandevbank.org:8080/rest/api/content/{0}/child/page"/>
    <add key="baseUrl" value="http://lpconfluence01.asiandevbank.org:8080"/>
    -->
    <!-- DEV -->
    <add key="CreateSpaceUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/space" />
    <add key="CreatePageUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content/" />
    <add key="GetPageByTitleAndKeyUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content?title={0}&amp;spaceKey={1}&amp;expand=body.storage,version" />
    <add key="UpdatePageUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content/{0}" />
    <add key="GetChildPagesUrl" value="http://ldconfluence01.asiandevbank.org:8090/rest/api/content/{0}/child/page" />
    <add key="baseUrl" value="http://ldconfluence01.asiandevbank.org:8090" />
    <add key="username" value="vd2" />
    <add key="password" value="Welcome2" />
    <add key="ClientSettingsProvider.ServiceUri" value="" />
    <add key="parentPageChildrenDisplay" value="&lt;ac:structured-macro ac:macro-id=&quot;cd79398f-133d-4dc8-923f-e7e0973e6710&quot; ac:name=&quot;children&quot; ac:schema-version=&quot;1&quot;&gt;&lt;ac:parameter ac:name=&quot;all&quot;&gt;true&lt;/ac:parameter&gt;&lt;/ac:structured-macro&gt;" />
    <add key="fileListContent" value="&lt;ac:structured-macro ac:macro-id=&quot;5a144426-2173-4a1f-a3f5-1abb7f7d0529&quot; ac:name=&quot;attachments&quot; ac:schema-version=&quot;1&quot;&gt;&lt;ac:parameter ac:name=&quot;upload&quot;&gt;true&lt;/ac:parameter&gt;&lt;/ac:structured-macro&gt;&lt;/p&gt; &lt;p&gt;&lt;ac:structured-macro ac:macro-id=&quot;1fb4bc9e-e1c6-499f-96e1-5801fc0bcdce&quot; ac:name=&quot;contributors-summary&quot; ac:schema-version=&quot;1&quot; /&gt;" />
    <add key="ParentBusinessCaseTitle" value="0.02 Business Case" />
    <add key="ProjectBusinessCaseTitle" value="0.02 Business Case" />
    <add key="PipelineBusinessCaseTitle" value="Business Case" />
    <add key="ParentFunctionalRequirementTitle" value="1.01 Functional Requirements" />
    <add key="includePageContent" value="&lt;ac:structured-macro ac:macro-id=&quot;caa654b9-57bd-4ca1-a38d-2b84d228410d&quot; ac:name=&quot;include&quot; ac:schema-version=&quot;1&quot;&gt;&lt;ac:parameter ac:name=&quot;&quot;&gt;&lt;ac:link&gt;&lt;ri:page ri:content-title=&quot;{0}&quot; ri:space-key=&quot;{1}&quot; /&gt;&lt;/ac:link&gt;&lt;/ac:parameter&gt;&lt;/ac:structured-macro&gt;" />
  </appSettings>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-8.0.0.0" newVersion="8.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>