<script src="~/Scripts/jquery-1.10.2.min.js"></script>
<script type="text/javascript">
    $(document).ready(function () {
        //console.log("TEST");
    });

    function doCreate()
    {
        $.ajax({
            url: "http://localhost:63999/api/ConfluenceStructure/post",
            type: "POST",
            data: { Title: 'TST 101', Key: 'TS9', Description: 'The Description', ParentKey: 'BPM' },
            success: function (response) {
                // you will get response from your php page (what you echo or print)                 
                console.log(response);
            },
            error: function (jqXHR, textStatus, errorThrown) {
                console.log(textStatus, errorThrown);
            }


        });
    }
</script>
<h1>Main Form</h1>
<div>
    <input id="Button1" type="button" value="Create" onclick="doCreate()" />
</div>